<!DOCTYPE html> 
<html> 
<body> 
<h2> Exercise Form</h2>
<form action="/exercise" method = "POST"> 
    <label for = "exName"> Exercise Name: </label><br> 
    <input type = "text" id = "exName" name = "exName"></br>
    <label for = "muscleGroup"> Muscle Group: </label><br> 
    <input type = "text" id = "muscleGroup" name = "muscleGroup"></br>
    <label for = "EXWeight"> Exercise Weight: </label><br>
    <input type = "text" id = "EXWeight" name = "EXWeight"></br>
    <label for = "number"> Number: </label><br>
    <input type = "text" id = "number" name = "number"></br>
    <label for = "reps"> Reps: </label><br>
    <input type = "text" id = "reps" name = "reps"></br>
    <label for = "restTime"> Rest Time: </label><br>
    <input type = "text" id = "restTime" name = "restTime"></br>
    <label for = "EXintensity"> Exercise Intensity: </label><br>
    <input type = "text" id = "EXintensity" name = "EXintensity"></br>
    
    <br><button type = "submit" name="Chooser2" value="add"> Submit</button></br>
    <br> <button type = "submit" name="Chooser2" value="forward"> Forward</button> 
    <button type = "submit" name="Chooser2" value="forward"> Back</button> </br> 

    

    
</form>

</body>
</html>