<!DOCTYPE html>
<html> 
<body> 
<h2> Input Meal</h2>
    
<form action="/meals" method="POST"> 
    <label for = "mealID"> Meal Name: </label><br>
    <input type = "text" id = "mealID" name = "mealID"></br>
    <label for = "calories"> Calories: </label><br>
    <input type = "text" id = "calories" name = "calories"></br>
    <label for = "protein"> Protein: </label><br>
    <input type = "text" id = "protein" name = "protein"></br>
    <label for = "carbs"> Carbs: </label><br>
    <input type = "text" id = "carbs" name = "carbs"></br>
    <label for = "fat"> Fat: </label><br>
    <input type = "text" id = "fat" name = "fat"></br>
    <label for = "TR_userID"> Trainer ID: </label><br>
    <input type = "text" id = "TR_userID" name = "TR_userID"></br>

    <br><button type = "submit"> Submit </button></br>
    <br> <button type = "button"> Forward</button> 
    <button type = "button"> Back</button> </br> 


</form>
</body>
</html>