<!DOCTYPE html>
<html> 
<body> 
<h2> Progress Form </h2>

<form> 
    <label for = "progressID"> Progress ID: </label><br> 
    <input type = "text" id = "progressID" name = "progressID"></br> 
    <label for = "EXName"> Exercise Name: </label><br> 
    <input type = "text" id = "EXName" name = "EXName"></br>
    <label for = "EXWeight"> Exercise Weight: </label><br> 
    <input type = "text" id = "EXWeight" name = "EXWeight"></br> 
    <label for = "Plan_ID"> Plan ID: </label><br> 
    <input type = "text" id = "Plan_ID" name = "Plan_ID"></br> 

    <br><button type = "submit"> Submit </button></br>
    <br> <button type = "button"> Forward</button> 
    <button type = "button"> Back</button> </br>  

</form>
</body>
</html>