<link rel="stylesheet" href="{{ url_for('static',filename='TrainerInfo.css')}}">
<div class="container">
	<img src="https://i.stack.imgur.com/l60Hf.png" alt="image">
	<div class="rate">
		<h3 class="title-card">{{first}} {{last}}</h3>
		
	<p>4.65/5</p>
</div>	
	
<p>
Trainer has been working at CPSC 471 since 2002! Excellent and specializes in making sure you lose weight!
</p>
	
	<span class="map">
		<i class="fa fa-map-marker" aria-hidden="true"></i>
		<p>Extremely Buff</p>
	</span>
	
	<span class="phone">
		<i class="fa fa-phone" aria-hidden="true"></i>
		<p>Male</p>
	</span>
	
	
	<button>This Button Doesnt do Anything</button>
	
</div>