<!DOCTYPE html>
<html> 
<body> 
    <h2> Update Trainee</h2> 
<form action="/personal" method="POST">
    <label for = "email"> email: </label><br>
    <input type = "text" id = "email" name = "email"></br>
    <label for = "password"> Password: </label><br>
    <input type = "text" id = "password" name = "password"></br>
    <label for = "Fname"> First Name: </label><br>
    <input type = "text" id = "Fname" name = "Fname"></br>
    <label for = "Lname"> Last Name: </label><br>
    <input type = "text" id = "Lname" name = "Lname"></br>
    <label for = "height"> Height: </label></br> 
    <input type = "text" id = "height" name = "height"></br>
    <label for = "weight"> Weight: </label></br>
    <input type = "text" id = "weight" name = "weight"></br>
    <label for = "trainerID"> Trainer ID: </label><br>
    <input type = "text" id = "trainerID" name = "trainerID"></br>

    <br><button type = "submit"> Update </button></br> 
    

</form> 
</body>
</html>
